* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --BrightBlue: hsl(220, 98%, 61%);
  --CheckBackground: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue1: hsl(233, 11%, 84%);
  --DarkGrayishBlue1: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue1: hsl(235, 19%, 35%);
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlue2: hsl(234, 39%, 85%);
  --LightGrayishBlueHover: hsl(236, 33%, 92%);
  --DarkGrayishBlue2: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue2: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue3: hsl(237, 14%, 26%);
  --FontSize: 18px;
  --fontFamily: "Josefin Sans", sans-serif;
}

body {
  font-family: var(--fontFamily);
  font-size: var(--FontSize);
  max-width: 100vw;
}

li {
  list-style-type: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
